@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
*{
    padding: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    padding: 0px;
    margin: 0px;
    border: 0px;

}

body{
    display: block;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    
}
header >h1,
header > p,
section > p{
    margin: 0;
}






header > p{
    font-size: 1em;
    padding-bottom: 50px;
    margin: 0;
}


a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
}


a:hover{
    
    text-decoration: underline;
}

header > h1{
    font-family: "Passion One", sans-serif;
    font-size: 10vw;
    padding-top: 50px;
}

section{
    margin: 0;
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
}

section > p{
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

section.normal{
    background-color: white;
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;

}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no repeat;background-position: right center;
}

footer{
    display: block;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1em;
    padding: 10px;
}